# do not include anything from venv directory
venv/


# do not include anything from test_files directory
test_files/

# do not include downloaded zip archives
*.zip

# do not include __pycache__
__pycache__/
