# do not include anything from venv directory
venv/


# do not include anything from test_files directory
test_files/

# do not include downloaded files
stories/

# do not include __pycache__
__pycache__/

.ipynb_checkpoints/

# remove shell scripts
*.sh

# remove everything loaded by dataset_loader
*.csv
*.json
*.h5
*.npy

# remove outputs of the neural nets which are used only for presentations
# and are represented only partially in the notebooks
*.txt
